[defaults]
inventory          = ./inventory/hosts.yml
roles_path         = ./roles
collections_path   = ~/.ansible/collections
pipelining         = True
log_path           = ./logs/ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
